* {
    font-family: "Gowun Dodum", sans-serif;
}

.nav-bar {
    margin-bottom: 0px;
}

.navbar-brand {
    color: #ff7200;
}

.nav-item > a {
    color: #ff7200;
}

.nav-item > a:hover {
    color: #ff7200;
}

.nav-link.active {
    color: #ff7200;
}

.wrap {
    height: calc(100vh - 56px);
    overflow-y: scroll;

    padding: 0px;
}

.landing-screen {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("first.png");
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-screen-inner {
    width: 100vh;
    max-width: 1200px;

    color: white;
}

.contents {
    max-width: 1200px;
    width: 100vh;
    margin: auto;
}

.contents-section {
    margin: 15px auto;
    border-width: 2px;
}
