* {
    font-family: 'Gowun Dodum', sans-serif;
}

.landing-screen {
    height: calc(100vh - 56px);

    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("first.png");
    background-size: contain;
}

.contents {
    max-width: 1200px;
    width: 100vh;
}

.contents-section {
    margin: 15px auto;
}