* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.title-bar {
           
    color: white;
    
    padding: 50px 0px;

    height: 350px;
    width: 100%;

    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("titlebar-bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% calc(75%);
    background-size: 100% auto;

}

.page-title {
    font-size: 60px;
}

.wrap {
    max-width: 1000px;
    width: 100%;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.14));

    margin: 20px auto;
}

.profile-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    margin: 0px 0px 10px 0px;
}

.profile-top > div {
    margin: 20px;
}

.profile-top-desc {
    width: 100%;
    max-width: 650px;
    margin: 0px auto;
}

.comment {
    margin: 10px auto;
}

.comment-write-box {
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.comment-write-box > div {
    width: 100%;
    margin: 5px auto;
}

.comment-save-button-box {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.profile-reputation-box {
    margin-top: 20px;
}

.current-reputation {
    color: darkgoldenrod;
}

.user-reputation-button-box {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.profile-pic {
    border-radius: 100%;
    padding: 15px;
}

.profile-button-box {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-middle {
    margin: 10px auto;
    padding: 10px 20px;
}

.profile-lower {
    margin: 10px auto 20px auto;
    padding: 10px 20px;
}

.comment {
    font-size: 12px;
    color: gray;
}

.profile-lower-img {
    margin: 25px;
    border-radius: 25%;
}

.lower-desc {
    margin: 30px auto 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lower-title {
    background-color: darkslategray;
    color: lightgray;
    text-align: center;

    width: 60%;
    max-width: 750%;

    border-radius: 50px;
    padding: 10px;

    margin: 20px auto 5px auto;
}

.lower-content {
    width: 50%;
    max-width: 600px;

    background-color: white;

    margin: 10px auto;
    padding: 10px;

    text-align: left;
}

.lower-bar {
    height: 200px;
    text-align: center;

    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("luxurycar.jpg");
    background-position: 25% 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}