<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="navbartest">
        <div class="icon">
          <h2 class="logo">The first</h2>
        </div>

        <div class="welcome-contents">
          <img class="welcome-contents_img1" src="../static/img/good.png" />
          <h1>The first &</h1>
          <h1>best team</h1>
          <p>안녕하세요. 저희는 1조가 1등이조 입니다.</p>
          <div class="mybtn">
            <a href="#check1">멤버 소개로 이동</a>
          </div>
        </div>
      </div>
    </div>

    <article class="post-content">
      <p></p>
      <h2>우리 팀만의 특징</h2>
      <p>우리 팀만의 특징</p>
    </article>

    <article class="post-content">
      <p></p>
      <h2>우리 팀이 추구하는 궁극적인 목표</h2>
      <p>우리 팀이 추구하는 궁긍적인 목표</p>
    </article>
    <article class="post-content">
      <p></p>

      <h2>우리 팀의 약속</h2>
      <p>우리 팀의 약속</p>
    </article>

    <div class="post-content">
      <p id="check1"></p>
      <h2>팀원 소개</h2>
      <p>팀원 소개</p>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img
              src="{{ url_for('static', filename='mjteamprofile.jpg') }}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5>성민준</h5>
              <p>첫 칸이 비어있길래 제가 먹었습니다. :)</p>
              <a href="{{ url_for('mjsung') }}"><button type="button" class="btn btn-secondary">놀러가기</button></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="../static/img/KakaoTalk_Photo_2022-10-31-22-05-53.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">정다인</h5>
              <p class="card-title">홈페이지로 놀러와보세용</p>
              <a href="{{ url_for('dain') }}"><button type="button" class="btn btn-secondary">놀러가기</button></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="../static/leo.png"
              class="card-img-top-leo"
              alt="leoPhoto"
            />
            <div class="card-body">
              <h5 class="card-title">이상원</h5>
              <p class="card-title">저의 홈페이지를 소개합니다.</p>
              <a href="{{ url_for('leo') }}"><button type="button" class="btn btn-secondary">놀러가기</button></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <img src="../static/seong.png" class="card-img-top" alt="..." />
              <h5 class="card-title">Card title</h5>
              <p class="card-title">안녕하세요</p>
              <a href="{{ url_for('seongchange') }}"><button type="button" class="btn btn-secondary">놀러가기</button></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="C:\Users\Lth\Desktop\asd\spartaprofile\static\ferrarimain" class="card-img-top" alt="ferrari" />
            <div class="card-body">
              <h5 class="card-title">이태현</h5>
              <p class="card-title">hello</p>
              <a href="{{ url_for('leetaehyun') }}"><button type="button" class="btn btn-secondary">놀러가기</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
