<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main/main.css') }}" />

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
    >
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <title>the First</title>
</head>

<body>
    <div class="nav-bar">
        <nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
            <a class="navbar-brand" href="#">Navbar</a>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading1">about us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2">our vision</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2">crew</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2">dev logs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2">dd</a>
              </li>
            </ul>
        </nav>
    </div>
    <div class="wrap" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
        <div class="landing-screen" id="scrollspyHeading1">
            <h1></h1>
        </div>

        <div class="contents">

            <div class="contents-section" id="scrollspyHeading2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis dui vel nunc vestibulum venenatis. Cras aliquet vitae tellus non finibus. Praesent vehicula arcu nibh, id egestas tortor faucibus ut. Pellentesque condimentum sollicitudin quam, vel tincidunt nunc mollis et. Vivamus porttitor eleifend justo vitae tempor. Maecenas convallis ut purus vitae interdum. Maecenas sed nisi sit amet sapien tincidunt congue sit amet ut nisi. Morbi iaculis nisi sed ultrices aliquet. Nunc consequat pellentesque ex, nec vulputate enim interdum sit amet. Morbi dignissim gravida massa, eget finibus purus suscipit ornare. Phasellus convallis luctus vestibulum. Duis justo turpis, vulputate eu massa eu, ullamcorper mattis sapien. Nunc malesuada auctor odio. Fusce semper nisi a metus tristique finibus.

Suspendisse feugiat pulvinar laoreet. Cras sed faucibus eros, non dictum augue. Vestibulum vulputate porttitor tempus. Suspendisse scelerisque, elit et mollis rhoncus, lorem nulla hendrerit elit, congue commodo metus metus et mauris. Integer tempor orci a semper egestas. Nunc consequat et ante ut sollicitudin. Duis at volutpat nibh. Vestibulum nec justo risus. In at nibh nisl. Quisque a eros scelerisque ex pretium fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin at euismod lorem. Cras molestie nibh non lacus aliquet pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
            </div>


            <div class="contents-section" id="scrollspyHeading3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis dui vel nunc vestibulum venenatis. Cras aliquet vitae tellus non finibus. Praesent vehicula arcu nibh, id egestas tortor faucibus ut. Pellentesque condimentum sollicitudin quam, vel tincidunt nunc mollis et. Vivamus porttitor eleifend justo vitae tempor. Maecenas convallis ut purus vitae interdum. Maecenas sed nisi sit amet sapien tincidunt congue sit amet ut nisi. Morbi iaculis nisi sed ultrices aliquet. Nunc consequat pellentesque ex, nec vulputate enim interdum sit amet. Morbi dignissim gravida massa, eget finibus purus suscipit ornare. Phasellus convallis luctus vestibulum. Duis justo turpis, vulputate eu massa eu, ullamcorper mattis sapien. Nunc malesuada auctor odio. Fusce semper nisi a metus tristique finibus.

Suspendisse feugiat pulvinar laoreet. Cras sed faucibus eros, non dictum augue. Vestibulum vulputate porttitor tempus. Suspendisse scelerisque, elit et mollis rhoncus, lorem nulla hendrerit elit, congue commodo metus metus et mauris. Integer tempor orci a semper egestas. Nunc consequat et ante ut sollicitudin. Duis at volutpat nibh. Vestibulum nec justo risus. In at nibh nisl. Quisque a eros scelerisque ex pretium fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin at euismod lorem. Cras molestie nibh non lacus aliquet pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
            </div>

            <div class="contents-section" id="scrollspyHeading4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis dui vel nunc vestibulum venenatis. Cras aliquet vitae tellus non finibus. Praesent vehicula arcu nibh, id egestas tortor faucibus ut. Pellentesque condimentum sollicitudin quam, vel tincidunt nunc mollis et. Vivamus porttitor eleifend justo vitae tempor. Maecenas convallis ut purus vitae interdum. Maecenas sed nisi sit amet sapien tincidunt congue sit amet ut nisi. Morbi iaculis nisi sed ultrices aliquet. Nunc consequat pellentesque ex, nec vulputate enim interdum sit amet. Morbi dignissim gravida massa, eget finibus purus suscipit ornare. Phasellus convallis luctus vestibulum. Duis justo turpis, vulputate eu massa eu, ullamcorper mattis sapien. Nunc malesuada auctor odio. Fusce semper nisi a metus tristique finibus.

Suspendisse feugiat pulvinar laoreet. Cras sed faucibus eros, non dictum augue. Vestibulum vulputate porttitor tempus. Suspendisse scelerisque, elit et mollis rhoncus, lorem nulla hendrerit elit, congue commodo metus metus et mauris. Integer tempor orci a semper egestas. Nunc consequat et ante ut sollicitudin. Duis at volutpat nibh. Vestibulum nec justo risus. In at nibh nisl. Quisque a eros scelerisque ex pretium fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin at euismod lorem. Cras molestie nibh non lacus aliquet pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
            </div>

            <div class="contents-section" id="scrollspyHeading5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis dui vel nunc vestibulum venenatis. Cras aliquet vitae tellus non finibus. Praesent vehicula arcu nibh, id egestas tortor faucibus ut. Pellentesque condimentum sollicitudin quam, vel tincidunt nunc mollis et. Vivamus porttitor eleifend justo vitae tempor. Maecenas convallis ut purus vitae interdum. Maecenas sed nisi sit amet sapien tincidunt congue sit amet ut nisi. Morbi iaculis nisi sed ultrices aliquet. Nunc consequat pellentesque ex, nec vulputate enim interdum sit amet. Morbi dignissim gravida massa, eget finibus purus suscipit ornare. Phasellus convallis luctus vestibulum. Duis justo turpis, vulputate eu massa eu, ullamcorper mattis sapien. Nunc malesuada auctor odio. Fusce semper nisi a metus tristique finibus.

Suspendisse feugiat pulvinar laoreet. Cras sed faucibus eros, non dictum augue. Vestibulum vulputate porttitor tempus. Suspendisse scelerisque, elit et mollis rhoncus, lorem nulla hendrerit elit, congue commodo metus metus et mauris. Integer tempor orci a semper egestas. Nunc consequat et ante ut sollicitudin. Duis at volutpat nibh. Vestibulum nec justo risus. In at nibh nisl. Quisque a eros scelerisque ex pretium fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin at euismod lorem. Cras molestie nibh non lacus aliquet pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
            </div>

            <div class="contents-section" id="scrollspyHeading6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis dui vel nunc vestibulum venenatis. Cras aliquet vitae tellus non finibus. Praesent vehicula arcu nibh, id egestas tortor faucibus ut. Pellentesque condimentum sollicitudin quam, vel tincidunt nunc mollis et. Vivamus porttitor eleifend justo vitae tempor. Maecenas convallis ut purus vitae interdum. Maecenas sed nisi sit amet sapien tincidunt congue sit amet ut nisi. Morbi iaculis nisi sed ultrices aliquet. Nunc consequat pellentesque ex, nec vulputate enim interdum sit amet. Morbi dignissim gravida massa, eget finibus purus suscipit ornare. Phasellus convallis luctus vestibulum. Duis justo turpis, vulputate eu massa eu, ullamcorper mattis sapien. Nunc malesuada auctor odio. Fusce semper nisi a metus tristique finibus.

Suspendisse feugiat pulvinar laoreet. Cras sed faucibus eros, non dictum augue. Vestibulum vulputate porttitor tempus. Suspendisse scelerisque, elit et mollis rhoncus, lorem nulla hendrerit elit, congue commodo metus metus et mauris. Integer tempor orci a semper egestas. Nunc consequat et ante ut sollicitudin. Duis at volutpat nibh. Vestibulum nec justo risus. In at nibh nisl. Quisque a eros scelerisque ex pretium fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin at euismod lorem. Cras molestie nibh non lacus aliquet pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
            </div>

        </div>

        <div class="footer">

        </div>
    </div>
</body>

</html>