<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main/main.css') }}" />

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
    >
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    
    <script src="{{ url_for('static', filename='main/main.js') }}"></script>

    <title>the First</title>
</head>

<body>
    <div class="nav-bar" id="landing">
        <nav id="navbar-example2" class="navbar bg-light px-3">
            <a class="navbar-brand" href="#">the first</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#landing">welcome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">about us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#vision">our vision</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#crew">crew</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#devlogs">dev logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#reserved">r</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="wrap" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
        <div class="landing-screen">
            <div class="landing-screen-inner">
                <h1>the First, the Best</h1>
                <h3>안녕하세요. 저희는 '1조가 1등이조'입니다.</h3>
            </div>
        </div>

        <div class="contents">

            <div class="contents-section" id="about">
                <h1>about us - 저희의 특징</h1>
                <p> 
                    특징입니다.
                </p>
            </div>


            <div class="contents-section" id="vision">
                <h1>our vision - 저희의 비전</h1>
                <p> 
                    저희가 생각하는 이상적인 팀, 저희 팀의 규칙
                </p>
            </div>

            <div class="contents-section" id="crew">
                <h1>crew - 멤버 소개</h1>
                <p> 
                    멤버 소개
                </p>
            </div>

            <div class="contents-section" id="devlogs">
                <h1>dev logs - 개발일지</h1>
                <p> 
                    개발일지
                </p>
            </div>

            <div class="contents-section" id="reserved">
                <h1>예비용 - RESERVED</h1>
                <p> 
                    RESERVED
                </p>
            </div>

        </div>

        <div class="footer">

        </div>
    </div>
</body>

</html>