<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="성민준" />
    <meta property="og:description" content="저를 소개합니다." />
    <meta property="og:image" content="{{ url_for('static', filename='mjsungprofile.jpg') }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>성민준</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='mjsung.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='mjsung.js') }}"></script>

</head>

<body>
    <div class="title-bar">
        <h1 class="page-title">성민준</h1>
        <h3>catch me if you can</h3>
    </div>


    <div class="wrap">
        <div class="profile-top">
            <div class="profile-top-desc">
                <h2>여러분은 미래의 부자를 보고 계십니다.</h2>
                <p>
                    당신의 꿈은 무엇인가요?
                    제 꿈은 언제나 '부자가 되는 것'이었습니다.
                    무슨 일을 하는지, 어디에 사는지는 달라져도 이 꿈은 변하지 않을 겁니다.
                    우리는 하고 싶은 것이 많지만, 그걸 할 수 있는 시간은 부족합니다.
                    그 시간이라도 아껴서 쓰려면 돈이 충분해야 합니다.
                    이 글을 읽는 여러분도 부자가 되셨으면 좋겠습니다.
                </p>

                <div class="profile-top-left">
                    <div class="profile-comments-box">
                        <div class="card">
                            <div class="card-header">
                                Comments
                            </div>
                            <div class="card-body" id="profile-comments">
                                <div class="comment">
                                    <blockquote class="blockquote mb-0">
                                    <p>코멘트</p>
                                    <footer class="blockquote-footer">작성자</footer>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="comment-write-box" id="comment-box">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="코멘트" id="user-comment"></textarea>
                                    <label for="user-comment">코멘트</label>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="닉네임" id="user-name"></textarea>
                                    <label for="user-name">닉네임</label>
                                </div>
                                <div class="comment-save-button-box">
                                    <button type="button" onclick="save_comment()" class="btn btn-dark" id="user-button">작성하기</button>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="profile-reputation-box">
                        <div class="card">
                            <div class="card-header">
                                Reputation
                            </div>
                            <div class="card-body">
                                <label for="customRange1" class="form-label">현재 평판</label>
                                <input type="range" min="0" max="1000" class="form-range current-reputation" id="current-reputation" disabled="disabled">
                                <label for="customRange1" class="form-label" id="user-reputation-title">당신의 평가는?</label>
                                <input type="range" min="0" max="10" class="form-range" id="user-reputation">
                                <div class="user-reputation-button-box" id = "user-reputation-button">
                                    <button type="button" onclick="save_reputation()" class="btn btn-dark">입력 완료</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='mjsungprofile.jpg') }}" class="card-img-top profile-pic" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Min Jun Sung</h5>
                    <p class="card-text">aka Louis XIV, MJ</p>
                    <p class="card-text">이름이 너무 많죠? MJ라고 불러주시면 됩니다. :)</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">#극단적_물질주의자</li>
                    <li class="list-group-item">#주식_중독</li>
                    <li class="list-group-item">#알코홀릭🥃🥃🥃</li>
                </ul>
                <div class="card-body profile-button-box">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a href="javascript:history.back()"><button type="button" class="btn btn-danger">Back</button></a>
                        <a href="https://github.com/themrsung"><button type="button" class="btn btn-warning">Github</button></a>
                        <a href="http://mjsung.com/"><button type="button" class="btn btn-success">Blog</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-middle">
            <h2>ENTP*</h2>
            <p>
                제 MBTI는 ENTP입니다.
                규칙적인 것과 계획을 싫어하고, 즉흥적으로 행동하는 경향이 있죠.
                해보고 싶은 것은 거의 다 하기 때문에 무언가를 하지 않아서 후회하는 경우는 거의 없습니다.

            </p>
            <h2>빠른 실행력**</h2>
            <p>
                누구보다 자신있는 객관적인 장점을 꼽자면 실행력입니다.
                전 하고 싶은 게 생기면 그 즉시 행동으로 옮기죠.
                너무 급하게 행동해서 손실을 입을 때도 많지만, 그 역시 제 책임이라고 생각하고 받아들입니다.
            </p>
            <h2>편견없는 시선***</h2>
            <p>
                저는 관습을 싫어하는 만큼, 편견도 싫어합니다.
                제가 경험해보지 않은 것에 대해 함부로 말하지 않으며, 다른 사람의 의견을 편견 없이 듣습니다.
                물론 듣는다고 했지 의견을 제 행동에 반영한다는 건 아닙니다.
                또, 경험해본 것에 대해서는 제 주장을 매우 강력하게 합니다. :)
            </p>
            <p class="comment">
                *검사한지 꽤 오래되었습니다. 아닐 수도 있어요.<br>
                **빠르다는 것은 상대적인 의미입니다.<br>
                ***주석을 달긴 했는데, 이건 지인들도 인정하는 장점입니다.
            </p>
        </div>

        <div class="profile-lower">
            <div class="card-group">
                <div class="card">
                  <img src="{{ url_for('static', filename='stocks.png') }}" class="profile-lower-img" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">주식투자 경력 7년</h5>
                    <p class="card-text">
                        저는 2016년에 주식투자를 시작해, 2022년 기준 7년차를 맞이하게 되었습니다.
                        그간 연평균 25%의 수익률을 기록했고 지속적인 투자 연구를 통해 실력을 키워나가고 있습니다.
                    </p>
                    <p class="card-text"><small class="text-muted">2016.12 ~ 현재</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="{{ url_for('static', filename='elysiumcorp.png') }}" class="profile-lower-img" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">투자자문사 창업</h5>
                    <p class="card-text">
                        2022년 4월, 엘리시움 인베스트먼트를 설립해 온라인으로 투자자문을 진행하였습니다.
                        <a href="https://theelysium.kr/">(회사 홈페이지)</a>
                    </p>
                    <p class="card-text"><small class="text-muted">2022.04 ~ 2022.06</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="{{ url_for('static', filename='atlaspartners.png') }}" class="profile-lower-img" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">투자 커뮤니티 설립</h5>
                    <p class="card-text">
                        투자 커뮤니티 아틀라스 파트너스를 설립해 운영하고 있습니다.
                        투자를 전문적으로 하시는 분들을 위한 커뮤니티로, 멤버십 제도로 운영됩니다.
                        <a href="http://atlaspartners.kr">(커뮤니티 디스코드)</a>
                    </p>
                    <p class="card-text"><small class="text-muted">2022.10 ~ 현재</small></p>
                  </div>
                </div>
            </div>
            <div class="lower-desc">
                <h1 class="lower-title">TEAMWORK</h1>

                <div class="lower-content">
                    <h3>이상적인 팀워크</h3>

                    <h5>끊임없는 의견 조율</h5>
                    <p>
                        팀워크는 개인 프로젝트와 다르게 여러 사람의 의견이 반영됩니다.
                        당연히 의견의 차이가 생길 수밖에 없죠.
                        이러한 의견의 차이를 조율해나가고, 이를 통해 서로 발전할 수 있는 게 중요합니다.
                    </p>

                    <h5>서로 챙겨주는 배려심</h5>
                    <p>
                        나의 역량과 팀원의 역량은 당연히 다릅니다.
                        서로 잘하는 분야에서 다른 팀원을 이끌어주고, 못하는 분야에서 팀원의 도움을 받는 게 중요하죠.
                    </p>

                    <h5>소통하려는 노력</h5>
                    <p>
                        다른 모든 조건이 충족되기 전에, 우선적으로 필요한 건 소통입니다.
                        서로 소통하려는 노력이 없다면 좋은 팀워크가 이루어질 수 없겠죠.
                    </p>
                </div>
                
                <h1 class="lower-title">CODE</h1>

                <div class="lower-content">
                    <h3>평판 시스템</h3>

                    <h5>여러분이 만드는 저의 프로필</h5>
                    <!-- <a href="{{ url_for('mjcode') }}"><h6>자세히 보기</h6></a> -->
                    <p>
                        저는 여러분의 의견을 듣고자 평판 시스템을 만들었습니다.
                        페이지 상단에 보시면 Reputation 메뉴가 있습니다.
                        여기서 저를 평가해주시면 즉시 평점에 반영됩니다.
                    </p>
                </div>
                
                <h1 class="lower-title">CONTACTS</h1>

                <div class="lower-content">
                    <h5>GitHub</h5>
                    <a href="https://github.com/themrsung"><h6>github.com/themrsung</h6></a>
                    <p>
                        팀워크는 개인 프로젝트와 다르게 여러 사람의 의견이 반영됩니다.
                        당연히 의견의 차이가 생길 수밖에 없죠.
                        이러한 의견의 차이를 조율해나가고, 이를 통해 서로 발전할 수 있는 게 중요합니다.
                    </p>

                    <h5>Blog</h5>
                    <a href="http://mjsung.com"><h6>mjsung.com</h6></a>
                    <p>
                        나의 역량과 팀원의 역량은 당연히 다릅니다.
                        서로 잘하는 분야에서 다른 팀원을 이끌어주고, 못하는 분야에서 팀원의 도움을 받는 게 중요하죠.
                    </p>
                </div>
                <div class="lower-content">
                    <h5>Phone</h5>
                    <a href="tel:+821072533290"><h6>010-7253-3290</h6></a>
                    <p>
                        전화 안 받으면 카톡 남겨주세요.
                    </p>
                    <h5>Email</h5>
                    <a href="mailto:themrsung@gmail.com"><h6>themrsung@gmail.com</h6></a>
                    <p>
                        이메일 환영합니다!
                    </p>
                    <h5>Fax</h5>
                    <a href="tel:+825044194523"><h6>050-4419-4523</h6></a>
                    <p>
                        팩스를 보내실 일이 있을까 싶지만 적어봅니다.
                    </p>
                </div>
            </div>

        </div>

    </div>
    
    <div class="lower-bar">
        <h6>Made in Korea</h6>
        <p style="font-size: 15px;">(c) 2022 MJ Sung, ALL RIGHTS RESERVED</p>
    </div>

</body>

</html>